<!--views/partials/blog-form.handlebars-->

<fieldset class="container">
  <legend>Edit Ride Post</legend>
  <!-- TITLE -->
  <p>
    <label for="blog-title">Route (start/finish)</label><br>
    <input id="blog-route" type="text" name="route" value="{{blog.route}}"/>
  </p>

  <!-- Article TITLE -->
  <p>
    <label for="article-title">Date/Time</label><br>
    <input id="blog-time" type="text" name="time" value="{{blog.time}}" />
  </p>

  <!-- DESCRIPTION -->
  <p>
    <label for="blog-description">Description</label><br>
    <textarea id="blog-description" name="description" rows="10" />{{blog.description}}</textarea>
  </p>
</fieldset>
