<!--views/partials/ride-form.handlebars-->

<fieldset class="container">
  <legend>New/Edit Ride</legend>
  <!-- TITLE -->
  <p>
    <label for="ride-start">Start</label><br>
    <input id="ride-start" type="text" name="title" value="{{ride.start}}"/>
  </p>

  <!-- Article TITLE -->
  <p>
    <label for="ride-destination">Destination</label><br>
    <input id="ride-destination" type="text" name="rideDestination" value="{{ride.destination}}" />
  </p>

  <!-- DESCRIPTION -->
  <p>
    <label for="ride-description">Description (date/time)</label><br>
    <textarea id="ride-description" name="description" rows="10" />{{ride.description}}</textarea>
  </p>
</fieldset>
